@import "tailwindcss";

@theme {
  --color-ivory-mist-50: #f9f7eb;
  --color-ivory-mist-100: #f4eed7;
  --color-ivory-mist-200: #e8deb0;
  --color-ivory-mist-300: #ddcd88;
  --color-ivory-mist-400: #d1bd61;
  --color-ivory-mist-500: #c6ac39;
  --color-ivory-mist-600: #9e8a2e;
  --color-ivory-mist-700: #776722;
  --color-ivory-mist-800: #4f4517;
  --color-ivory-mist-900: #28220b;
  --color-ivory-mist-950: #1c1808;

  --color-antique-white-50: #f8f3ec;
  --color-antique-white-100: #f1e7da;
  --color-antique-white-200: #e3d0b5;
  --color-antique-white-300: #d6b88f;
  --color-antique-white-400: #c8a16a;
  --color-antique-white-500: #ba8945;
  --color-antique-white-600: #956e37;
  --color-antique-white-700: #705229;
  --color-antique-white-800: #4a371c;
  --color-antique-white-900: #251b0e;
  --color-antique-white-950: #1a130a;

  --color-porcelain-50: #fbf7ea;
  --color-porcelain-100: #f7eed4;
  --color-porcelain-200: #eeddaa;
  --color-porcelain-300: #e6cc7f;
  --color-porcelain-400: #ddbb55;
  --color-porcelain-500: #d5aa2a;
  --color-porcelain-600: #aa8822;
  --color-porcelain-700: #806619;
  --color-porcelain-800: #554411;
  --color-porcelain-900: #2b2208;
  --color-porcelain-950: #1e1806;

  --color-carbon-black-50: #f2f2f3;
  --color-carbon-black-100: #e5e5e6;
  --color-carbon-black-200: #cbcbcd;
  --color-carbon-black-300: #b1b1b4;
  --color-carbon-black-400: #97979b;
  --color-carbon-black-500: #7d7d82;
  --color-carbon-black-600: #646468;
  --color-carbon-black-700: #4b4b4e;
  --color-carbon-black-800: #323234;
  --color-carbon-black-900: #19191a;
  --color-carbon-black-950: #111112;
  
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-libre: var(--font-libre), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-ivory-mist-50);
  color: var(--color-carbon-black-900);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-balance {
  text-wrap: balance;
}